<div class="col-xs-12">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :first_name %></strong><br>
    <%= f.text_field :first_name, placeholder: "First Name", class:"form-control" %>
  </div>
  <div class="field">
    <strong><%= f.label :last_name %></strong><br>
    <%= f.text_field :last_name, placeholder: "Last Name", class:"form-control" %>
  </div>
  <div class="field">
    <strong><%= f.label :email %></strong><br>
    <%= f.text_field :email, placeholder: "Email", class:"form-control" %>
  </div>
  <div class="field">
    <strong><%= f.label :password %></strong><br>
    <%= f.password_field :password, placeholder: "Password", class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Register', class:"btn btn-block" %>
  </div>
<% end %>
</div>