<div class="city-show">
  <h1><%= @city %> </h1>

  <div id="map"></div>

  <br>
  <button class="btn-info pull-right"><a  href="/locations/index">Choose a new city</a></button>
  <br>
  <br>

  <% @locations.each do |location| %>

    <div class="<%= location.id %> row">
      <div class="detail_container col-xs-3">
        <ul class="list-unstyled">
          <li><label name="name">Location Name: </label>
          <span class="city-name"><%=location.name %></span></li>
          <li><label class="city" name="city">Location City: </label>
          <%=location.city %></li>
          <li><label name="latitude">Latitude: </label>
          <span class="lat"><%=location.latitude %></span></li>
          <li><label name="longitude">Longitude: </label>
          <span class="long"><%=location.longitude %></span></li>
          <li><label name="distance">Distance: </label>
          <span class="distance">Not Available</span></li>
        </ul>
      </div>
      <div class="description col-xs-9"><%=location.description%></div>
    </div>

    <br>
    <br>
  <% end %>

  <script src="https://maps.googleapis.com/maps/api/js?key="+ ENV["GOOGLE"] +"&callback=initMap"

      async defer></script>
  <script type="text/javascript">

    get_location();

  </script>
</div>